* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Avenir' , sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: url(images/unsplash_9ps71BtpdWk.jpg);
  background-size: cover;
  padding: 10px 0;
  color: #ededec;
}

/* Navigation Bar (navbar for short) */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 30px;
}

.navbar a {
  text-decoration: none;
  color: #c9c9c9;
}
.navbar-home{
  scale: 1;
  color: #c9c9c9;
  transition: transform 2s ease, color 2s ease;;
}
.navbar-home :hover{
  color: #ededec;
  scale: 1.1;
}

.navbar-about{
  scale: 1;
  color: #c9c9c9;
  transition: transform 2s ease, color 2s ease;
}
.navbar-about :hover{
  color: #ededec;
  scale: 1.1;
}
.navbar-gallery{
  sacle: 1;
  color: #c9c9c9;
  transition: transform 2s ease, color 2s ease;
}
.navbar-gallery :hover{
  color: #ededec;
  scale: 1.1
}
.navbar-contact{
  scale: 1;
  color: #c9c9c9;
  transition: transform 2s ease, color 2s ease;
}
.navbar-contact :hover{
  color: #ededec;
  scale: 1.1;
}
/* Header - Title Section */
.title {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 80px;
  margin-bottom: 0;
}

.title p {
  font-size: 60px;
  margin: 0;
  font-weight: 300;
}


.about {
  padding: 60px 0;
}

.about-flex {
  display: flex;
  justify-content: space-between;
}

.about-left {
  width: 30%;
  color: #6d6d6d;
}

.about-right {
  width: 70%;
}

.about-card {
  width: 48%;
}

.about-card > img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.about-stats {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #c9c9c9;
}

.about-numbers {
  width: 32%;
}
.about-right p{
  color: #6d6d6d;
}
.about-card h3{
  color: #6d6d6d;
}
.about-card h4{
  color: #6d6d6d;
}
.about-card p{
  color: #6d6d6d;
}
.about-stats h3{
  color: #6d6d6d;
}
.about-stats p{
  color: #6d6d6d;
}
.about-numbers h3 {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-numbers p {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.contact {
  padding: 60px 0;
}

/*.contact-img img{
  width: 1519.200px;
  margin-bottom: 60px;
}*/
.contacttop-img{
  background-image: url(images/toa-heftiba-FV3GConVSss-unsplash.jpg);
  background-size: cover;
}
.contacttopimg-flex{
  display: flex;
}
.contacttop-left {
  padding: 100px 0;
  color: #ededec;
  width: 30%;
  margin-right: 0
}
.contacttop-right{
  width: 70%;
  color: #ededec;
  padding-top: 102px;
}

.contact-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-flex {
  display: flex;
  justify-content: flex-end;
}

.contact-input {
  width: 48%;
  margin-bottom: 20px;
}

.contact-input label {
  display: block;
  margin-bottom: 8px;
}

.contact-input input,
.contact-input select {
  padding: 10px 0;
}

.contact-input input,
.contact-input select,
.contact-input textarea {
  width: 100%;
}

.full-width {
  width: 100%;
}

.news{
  padding: 60px 0;
}
.news-flex{
  display: flex;
  justify-content: space-between;
}
.newsleft {
  width: 30%;
  color: #6d6d6d;
}
.newsright{
  width: 70%;
  color: #6d6d6d;
}
.newsright a{
  text-decoration: none;
  color: #6d6d6d;
}
.news-texttop-titile {
  color: #6d6d6d;
  transition : color 2s ease;
  scale: 1;
}
.news-texttop-titile :hover{
  color: #ff5757;
  scale: 1.009;
}
.news-textmid-title {
  scale: 1;
  color: #6d6d6d;
  transition : color 2s ease;
}
.news-textmid-title :hover{
  color: #ff5757;
  scale: 1.009;
}
.news-textbot-title {
  scale: 1;
  color: #6d6d6d;
  transition : color 2s ease;
}
.news-textbot-title :hover{
  color: #ff5757;
  scale: 1.009;
}
.newsright h1{
  margin-bottom: 0px;
}
.newsright h4{
  margin-top: 8px;
}
.newsright p{
  margin-bottom: 60px;
}
.news-textbot {
  border-bottom: 1px solid #6d6d6d;
}
.news-all{
  display: flex;
}
.news-seemore{
  padding-top: 24px;
}
.news-moretext>h3{
  color: black;
  padding-top: 24px;
  margin-top: 0px;
  margin-left: 8px;
}
/*.box{
  width: 200px;
  height: 200px;
  background: organge;
  transform: rotate(0);
  transition : transform 1s ease, background 1s ease, border-radius 1s ease;
}
.box:hover {
  border-radius: 50%;
  background: red;
  transform: rotate(360deg);
}*/
.container {
  width: 800px;
  margin: 0 auto;
}

/* Copy this to your .css file */
.gallery{
  background-color: #232323;
  padding: 50px 0;
}
.filter{
  margin-bottom: 30px;
}
.gallery-item {
  opacity: 100%;
  scale: 0.95;
  transition: Opacity 2s ease;
}

.gallery-item :hover{
  opacity: 75%;
  scale: 1.05;
}

.gallery-item {
  float: left;
  width: 25%;
  aspect-ratio: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-flex{
  display: flex;
}
.client-sectioon{
  background-color: #232323;
  padding: 30px 0;
}
.list-left{
  width: 25%;
}
.list-left h5{
  margin-bottom: 10px;
  color: #c9c9c9;
  transition: color;
}
.list-left :hover{
  color: #ff5757;
}

.list-left h6{
  margin-top: 0;
  margin-bottom: 30px;
  color: #ededec;
}
.list-left2{
  width: 25%;
}
.list-left2 h5{
  margin-bottom: 10px;
  color: #c9c9c9;
  transition: color;
}
.list-left2 :hover{
  color: #ff5757;
}

.list-left2 h6{
  margin-top: 0;
  margin-bottom: 30px;
  color: #ededec;
}
.list-right2{
  width: 25%;
}
.list-right2 h5{
  margin-bottom: 10px;
  color: #c9c9c9;
  transition: color;
}
.list-right2 :hover{
  color: #ff5757;
}

.list-right2 h6{
  margin-top: 0;
  margin-bottom: 30px;
  color: #ededec;
}
.list-right{
  width: 25%;
}
.list-right h5{
  margin-bottom: 10px;
  color: #c9c9c9;
  transition: color;
}
.list-right :hover{
  color: #ff5757;
}

.list-right h6{
  margin-top: 0;
  margin-bottom: 30px;
  color: #ededec;
}
.info-section{
  padding-top: 80px;
  padding-bottom: 120px;
}
.info-flex{
  display: flex;
}
.info-left{
  width: 30%;
  color: #ff5757;
}
.info-right p{
  margin-top: 0;
}
.info-left h2{
  margin-top: 0;
}
.info-right{
  width: 70%;
  color: #ff5757;
}
.thank-flex{
  display: flex;
}
.thank-left h2{
  margin-top: 0;
}
.thank-left{
  width: 30%;
  color: #6d6d6d;
}
.thank-right{
  width: 70%;
}
/*.thank-righttop{
  padding-left: 0;
}*/
.thank-righttop ul{
  color: #6d6d6d;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.thank-rightbot h5{
  margin-right: 52px;
}
.thank-rightbot a{
  text-decoration: none;
  color: #6d6d6d;
  transition: color 1s ease;
}
.thank-rightbot :hover{
  color: #ff5757;
}
.last-section{
  padding-bottom: 80px;
}
.ma-flex {
  margin: 120px 450px 80px 330px ;
  font-size: 50px;
}
.ma-flex h1{
  color: #6d6d6d;
}

@media(max-width: 700px){
  .container{
    width: 80%;
  }
  .about-flex{
    flex-direction: column;
  }
  .about-card >img{
    width: 500px;
    height: auto;
  }
  .about-card{
    width: 100%;
  }
  .about-numbers{
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
  }
  .news-flex{
    flex-direction: column;
  }
  .newsright{
    width: 100%;
  }
  .contact-flex{
    justify-content: flex-start;
  }
  .contact-form {
  width: 100%;
  }
  .about-stats {
  padding-top: 0px;
  }
  .info-flex{
    flex-direction: column;
  }
  .thank-flex{
    flex-direction: column;
  }
  .thank-left{
    width: 100%;
  }
  .thank-rightbot h5{
    margin-bottom: 5px;
  }
  .ma-flex {
  margin: 120px 300px 80px 200px ;
  font-size: 50px;
  }
}
